<section id="get-started" class="padd-section wow fadeInLeftBig">
  <div class="container">
    <div class="section-title text-center mb-0">
      <h2>Regional Victoria is Affordable!</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <div class="about-content">
          <p>Housing affordability problems have become more serious over the course of the last few decades, VicView uses open data representation in the form of a bar graph to show housing affordability in the year 2018.</p>
          <p>Still Skeptical about Regional Victoria?</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i> The Australian government is funding $500 million for regional jobs, $20,000 regional first home owners grant.</li>
            <li><i class="fa fa-angle-right"></i> Get an opportunity to discover the real beauty of the Australian natural environment.</li>
          </ul>

        </div>
      </div>

      <div class="col-12 col-lg-8">
        <h5 class="text-center">Average accomodation prices</h5>
        <div id="container" style="width: 100%;">
          <canvas id="canvas_df"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
