{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 row align-items-center">
        <div class="footer-logo text-center text-white col">
          <a class="navbar-brand mr-0 ml-3" data-version="Version 3.0" href="/">CommunityConnect</a> <br /> <br />
          <br />
        </div>
      </div>
    </div>
  </div>

</footer>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script src="{% static "theme/lib/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/jui/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" %}"></script>

<script>
  $.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script src="{% static "theme/lib/jquery/jquery-migrate.min.js" %}"></script>
<script src="{% static "theme/lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "theme/lib/superfish/hoverIntent.js" %}"></script>
<script src="{% static "theme/lib/superfish/superfish.min.js" %}"></script>
<script src="{% static "theme/lib/easing/easing.min.js" %}"></script>
<script src="{% static "theme/lib/modal-video/js/modal-video.js" %}"></script>
<script src="{% static "theme/lib/owlcarousel/owl.carousel.min.js" %}"></script>
<script src="{% static "theme/lib/wow/wow.min.js" %}"></script>
<script src="{% static "theme/lib/waypoints/waypoints.min.js" %}"></script>
<script src="{% static "theme/lib/counterup/counterup.min.js" %}"></script>

<script src="{% static "vendor/select2/js/select2.full.min.js" %}"></script>
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<script src="{% static "theme/js/main.js" %}"></script>
