<option value="">Select Location</option>

<option value="ABBOTSFORD">ABBOTSFORD</option>
<option value="AIRPORT WEST">AIRPORT WEST</option>
<option value="ALBERT PARK">ALBERT PARK</option>
<option value="ALEXANDRA">ALEXANDRA</option>
<option value="ALTONA NORTH">ALTONA NORTH</option>
<option value="ARARAT">ARARAT</option>
<option value="ARDEER">ARDEER</option>
<option value="ARMADALE">ARMADALE</option>
<option value="ASCOT VALE">ASCOT VALE</option>
<option value="ATTWOOD">ATTWOOD</option>
<option value="BACCHUS MARSH">BACCHUS MARSH</option>
<option value="BAIRNSDALE">BAIRNSDALE</option>
<option value="BALLARAT">BALLARAT</option>
<option value="BANNOCKBURN">BANNOCKBURN</option>
<option value="BAYSWATER">BAYSWATER</option>
<option value="BEACONSFIELD">BEACONSFIELD</option>
<option value="BEECHWORTH">BEECHWORTH</option>
<option value="BELMONT">BELMONT</option>
<option value="BENALLA">BENALLA</option>
<option value="BENDIGO">BENDIGO</option>
<option value="BENTLEIGH EAST">BENTLEIGH EAST</option>
<option value="BERWICK">BERWICK</option>
<option value="BLACKBURN">BLACKBURN</option>
<option value="BLACKBURN NORTH">BLACKBURN NORTH</option>
<option value="BLACKBURN SOUTH">BLACKBURN SOUTH</option>
<option value="BORONIA">BORONIA</option>
<option value="BOX HILL">BOX HILL</option>
<option value="BRANDY CREEK">BRANDY CREEK</option>
<option value="BREAKWATER">BREAKWATER</option>
<option value="BRIGHTON">BRIGHTON</option>
<option value="BRIGHTON EAST">BRIGHTON EAST</option>
<option value="BROADMEADOWS">BROADMEADOWS</option>
<option value="BRUNSWICK">BRUNSWICK</option>
<option value="BRUNSWICK WEST">BRUNSWICK WEST</option>
<option value="BULLEEN">BULLEEN</option>
<option value="BUNDALONG">BUNDALONG</option>
<option value="BUNDOORA">BUNDOORA</option>
<option value="BURWOOD">BURWOOD</option>
<option value="BURWOOD EAST">BURWOOD EAST</option>
<option value="CAMBERWELL">CAMBERWELL</option>
<option value="CAMPBELLFIELD">CAMPBELLFIELD</option>
<option value="CAMPERDOWN">CAMPERDOWN</option>
<option value="CANTERBURY">CANTERBURY</option>
<option value="CARLTON">CARLTON</option>
<option value="CARLTON NORTH">CARLTON NORTH</option>
<option value="CARLTON SOUTH">CARLTON SOUTH</option>
<option value="CARNEGIE">CARNEGIE</option>
<option value="CAROLINE SPRINGS">CAROLINE SPRINGS</option>
<option value="CARRUM DOWNS">CARRUM DOWNS</option>
<option value="CASTLEMAINE">CASTLEMAINE</option>
<option value="CAULFIELD SOUTH">CAULFIELD SOUTH</option>
<option value="CHADSTONE">CHADSTONE</option>
<option value="CHELSEA">CHELSEA</option>
<option value="CHELSEA HEIGHTS">CHELSEA HEIGHTS</option>
<option value="CHELTENHAM">CHELTENHAM</option>
<option value="CHIRNSIDE PARK">CHIRNSIDE PARK</option>
<option value="CHURCHILL">CHURCHILL</option>
<option value="CLAYTON">CLAYTON</option>
<option value="CLAYTON SOUTH">CLAYTON SOUTH</option>
<option value="COBRAM">COBRAM</option>
<option value="COBURG">COBURG</option>
<option value="COLAC">COLAC</option>
<option value="COLLINGWOOD">COLLINGWOOD</option>
<option value="CORIO">CORIO</option>
<option value="CORRYONG">CORRYONG</option>
<option value="CRAIGIEBURN">CRAIGIEBURN</option>
<option value="CRANBOURNE">CRANBOURNE</option>
<option value="CRANBOURNE EAST">CRANBOURNE EAST</option>
<option value="CRANBOURNE NORTH">CRANBOURNE NORTH</option>
<option value="CRANBOURNE WEST">CRANBOURNE WEST</option>
<option value="CRESWICK">CRESWICK</option>
<option value="CROYDON">CROYDON</option>
<option value="CROYDON SOUTH">CROYDON SOUTH</option>
<option value="DALLAS">DALLAS</option>
<option value="DANDENONG">DANDENONG</option>
<option value="DANDENONG NORTH">DANDENONG NORTH</option>
<option value="DANDENONG SOUTH">DANDENONG SOUTH</option>
<option value="DEER PARK">DEER PARK</option>
<option value="DIAMOND CREEK">DIAMOND CREEK</option>
<option value="DOCKLANDS">DOCKLANDS</option>
<option value="DONCASTER EAST">DONCASTER EAST</option>
<option value="DROUIN">DROUIN</option>
<option value="DRUMCONDRA">DRUMCONDRA</option>
<option value="DRYSDALE">DRYSDALE</option>
<option value="EAGLEHAWK">EAGLEHAWK</option>
<option value="EAST GEELONG">EAST GEELONG</option>
<option value="EAST MELBOURNE">EAST MELBOURNE</option>
<option value="ECHUCA">ECHUCA</option>
<option value="EDITHVALE">EDITHVALE</option>
<option value="ELSTERNWICK">ELSTERNWICK</option>
<option value="ELTHAM">ELTHAM</option>
<option value="ELWOOD">ELWOOD</option>
<option value="EMERALD">EMERALD</option>
<option value="EPPING">EPPING</option>
<option value="EPSOM">EPSOM</option>
<option value="ESSENDON">ESSENDON</option>
<option value="ESSENDON FIELDS">ESSENDON FIELDS</option>
<option value="EUROA">EUROA</option>
<option value="FAIRFIELD">FAIRFIELD</option>
<option value="FAWKNER">FAWKNER</option>
<option value="FERNTREE GULLY">FERNTREE GULLY</option>
<option value="FITZROY">FITZROY</option>
<option value="FITZROY NORTH">FITZROY NORTH</option>
<option value="FOOTSCRAY">FOOTSCRAY</option>
<option value="FRANKSTON">FRANKSTON</option>
<option value="FULHAM">FULHAM</option>
<option value="GEELONG">GEELONG</option>
<option value="GEELONG WEST">GEELONG WEST</option>
<option value="GISBORNE">GISBORNE</option>
<option value="GLADSTONE PARK">GLADSTONE PARK</option>
<option value="GLEN IRIS">GLEN IRIS</option>
<option value="GLEN WAVERLEY">GLEN WAVERLEY</option>
<option value="GLENROY">GLENROY</option>
<option value="GOLDEN SQUARE">GOLDEN SQUARE</option>
<option value="GREENSBOROUGH">GREENSBOROUGH</option>
<option value="GROVEDALE">GROVEDALE</option>
<option value="HALLAM">HALLAM</option>
<option value="HAMILTON">HAMILTON</option>
<option value="HAMPTON">HAMPTON</option>
<option value="HAMPTON PARK">HAMPTON PARK</option>
<option value="HASTINGS">HASTINGS</option>
<option value="HAWTHORN">HAWTHORN</option>
<option value="HAWTHORN EAST">HAWTHORN EAST</option>
<option value="HEALESVILLE">HEALESVILLE</option>
<option value="HEIDELBERG">HEIDELBERG</option>
<option value="HEIDELBERG HEIGHTS">HEIDELBERG HEIGHTS</option>
<option value="HEIDELBERG WEST">HEIDELBERG WEST</option>
<option value="HILLSIDE">HILLSIDE</option>
<option value="HOPPERS CROSSING">HOPPERS CROSSING</option>
<option value="HORSHAM">HORSHAM</option>
<option value="IVANHOE">IVANHOE</option>
<option value="JUNORTOUN">JUNORTOUN</option>
<option value="KENSINGTON">KENSINGTON</option>
<option value="KEW">KEW</option>
<option value="KEW EAST">KEW EAST</option>
<option value="KEYSBOROUGH">KEYSBOROUGH</option>
<option value="KILSYTH">KILSYTH</option>
<option value="KINGSVILLE">KINGSVILLE</option>
<option value="KOOYONG">KOOYONG</option>
<option value="KORUMBURRA">KORUMBURRA</option>
<option value="KYABRAM">KYABRAM</option>
<option value="KYNETON">KYNETON</option>
<option value="LAKES ENTRANCE">LAKES ENTRANCE</option>
<option value="LALOR">LALOR</option>
<option value="LANGWARRIN">LANGWARRIN</option>
<option value="LAVERTON">LAVERTON</option>
<option value="LAVERTON NORTH">LAVERTON NORTH</option>
<option value="LEONGATHA">LEONGATHA</option>
<option value="LILYDALE">LILYDALE</option>
<option value="LONGERENONG">LONGERENONG</option>
<option value="LOVELY BANKS">LOVELY BANKS</option>
<option value="MAIDSTONE">MAIDSTONE</option>
<option value="MALVERN">MALVERN</option>
<option value="MANSFIELD">MANSFIELD</option>
<option value="MARIBYRNONG">MARIBYRNONG</option>
<option value="MARYBOROUGH">MARYBOROUGH</option>
<option value="MEADOW HEIGHTS">MEADOW HEIGHTS</option>
<option value="MELBOURNE">MELBOURNE</option>
<option value="MELBOURNE AIRPORT">MELBOURNE AIRPORT</option>
<option value="MELTON">MELTON</option>
<option value="MENTONE">MENTONE</option>
<option value="MILDURA">MILDURA</option>
<option value="MILL PARK">MILL PARK</option>
<option value="MITCHAM">MITCHAM</option>
<option value="MITCHELL PARK">MITCHELL PARK</option>
<option value="MOE">MOE</option>
<option value="MOONEE PONDS">MOONEE PONDS</option>
<option value="MOORABBIN">MOORABBIN</option>
<option value="MOORABBIN AIRPORT">MOORABBIN AIRPORT</option>
<option value="MOOROOPNA">MOOROOPNA</option>
<option value="MORNINGTON">MORNINGTON</option>
<option value="MORWELL">MORWELL</option>
<option value="MOUNT ELIZA">MOUNT ELIZA</option>
<option value="MOUNT EVELYN">MOUNT EVELYN</option>
<option value="MOUNT HELEN">MOUNT HELEN</option>
<option value="MOUNT MARTHA">MOUNT MARTHA</option>
<option value="MOUNT ROWAN">MOUNT ROWAN</option>
<option value="MOUNT WAVERLEY">MOUNT WAVERLEY</option>
<option value="MULGRAVE">MULGRAVE</option>
<option value="MURRUMBEENA">MURRUMBEENA</option>
<option value="NARBETHONG">NARBETHONG</option>
<option value="NARRE WARREN">NARRE WARREN</option>
<option value="NARRE WARREN SOUTH">NARRE WARREN SOUTH</option>
<option value="NEWBOROUGH">NEWBOROUGH</option>
<option value="NEWPORT">NEWPORT</option>
<option value="NEWTOWN">NEWTOWN</option>
<option value="NOBLE PARK">NOBLE PARK</option>
<option value="NORLANE">NORLANE</option>
<option value="NORTH GEELONG">NORTH GEELONG</option>
<option value="NORTH MELBOURNE">NORTH MELBOURNE</option>
<option value="NORTH SHORE">NORTH SHORE</option>
<option value="NORTHCOTE">NORTHCOTE</option>
<option value="NUMURKAH">NUMURKAH</option>
<option value="NUNAWADING">NUNAWADING</option>
<option value="OAKLEIGH">OAKLEIGH</option>
<option value="OCEAN GROVE">OCEAN GROVE</option>
<option value="ORMOND">ORMOND</option>
<option value="OUYEN">OUYEN</option>
<option value="PAKENHAM">PAKENHAM</option>
<option value="PARK ORCHARDS">PARK ORCHARDS</option>
<option value="PARKVILLE">PARKVILLE</option>
<option value="POINT COOK">POINT COOK</option>
<option value="PORT MELBOURNE">PORT MELBOURNE</option>
<option value="PORTLAND">PORTLAND</option>
<option value="PRAHRAN">PRAHRAN</option>
<option value="PRESTON">PRESTON</option>
<option value="RAVENHALL">RAVENHALL</option>
<option value="RESERVOIR">RESERVOIR</option>
<option value="RICHMOND">RICHMOND</option>
<option value="RIDDELLS CREEK">RIDDELLS CREEK</option>
<option value="RINGWOOD">RINGWOOD</option>
<option value="RINGWOOD EAST">RINGWOOD EAST</option>
<option value="RINGWOOD NORTH">RINGWOOD NORTH</option>
<option value="ROBINVALE">ROBINVALE</option>
<option value="ROCKLYN">ROCKLYN</option>
<option value="ROMSEY">ROMSEY</option>
<option value="ROSEBUD">ROSEBUD</option>
<option value="ROSEBUD WEST">ROSEBUD WEST</option>
<option value="ROWVILLE">ROWVILLE</option>
<option value="ROXBURGH PARK">ROXBURGH PARK</option>
<option value="SALE">SALE</option>
<option value="SANDRINGHAM">SANDRINGHAM</option>
<option value="SCORESBY">SCORESBY</option>
<option value="SEAFORD">SEAFORD</option>
<option value="SEBASTOPOL">SEBASTOPOL</option>
<option value="SEYMOUR">SEYMOUR</option>
<option value="SHEPPARTON">SHEPPARTON</option>
<option value="SMYTHESDALE">SMYTHESDALE</option>
<option value="SOMERTON">SOMERTON</option>
<option value="SOUTH GEELONG">SOUTH GEELONG</option>
<option value="SOUTH MELBOURNE">SOUTH MELBOURNE</option>
<option value="SOUTH MORANG">SOUTH MORANG</option>
<option value="SOUTH YARRA">SOUTH YARRA</option>
<option value="SOUTHBANK">SOUTHBANK</option>
<option value="SPOTSWOOD">SPOTSWOOD</option>
<option value="SPRINGVALE">SPRINGVALE</option>
<option value="ST ALBANS">ST ALBANS</option>
<option value="ST KILDA">ST KILDA</option>
<option value="ST KILDA WEST">ST KILDA WEST</option>
<option value="STAWELL">STAWELL</option>
<option value="SUNBURY">SUNBURY</option>
<option value="SUNSHINE">SUNSHINE</option>
<option value="SUNSHINE WEST">SUNSHINE WEST</option>
<option value="SURREY HILLS">SURREY HILLS</option>
<option value="SWAN HILL">SWAN HILL</option>
<option value="TAYLORS LAKES">TAYLORS LAKES</option>
<option value="TERANG">TERANG</option>
<option value="THOMASTOWN">THOMASTOWN</option>
<option value="THORNBURY">THORNBURY</option>
<option value="TOTTENHAM">TOTTENHAM</option>
<option value="TRAFALGAR">TRAFALGAR</option>
<option value="TRARALGON">TRARALGON</option>
<option value="TRUGANINA">TRUGANINA</option>
<option value="TULLAMARINE">TULLAMARINE</option>
<option value="UPPER FERNTREE GULLY">UPPER FERNTREE GULLY</option>
<option value="WALLAN">WALLAN</option>
<option value="WANGARATTA">WANGARATTA</option>
<option value="WANTIRNA">WANTIRNA</option>
<option value="WANTIRNA SOUTH">WANTIRNA SOUTH</option>
<option value="WARRAGUL">WARRAGUL</option>
<option value="WARRANWOOD">WARRANWOOD</option>
<option value="WARRNAMBOOL">WARRNAMBOOL</option>
<option value="WATERGARDENS">WATERGARDENS</option>
<option value="WAURN PONDS">WAURN PONDS</option>
<option value="WENDOUREE">WENDOUREE</option>
<option value="WERRIBEE">WERRIBEE</option>
<option value="WEST FOOTSCRAY">WEST FOOTSCRAY</option>
<option value="WEST MELBOURNE">WEST MELBOURNE</option>
<option value="WEST WODONGA">WEST WODONGA</option>
<option value="WHEELERS HILL">WHEELERS HILL</option>
<option value="WILLIAMSTOWN">WILLIAMSTOWN</option>
<option value="WILLIAMSTOWN NORTH">WILLIAMSTOWN NORTH</option>
<option value="WODONGA">WODONGA</option>
<option value="WONTHAGGI">WONTHAGGI</option>
<option value="WOODEND">WOODEND</option>
<option value="YARRAVILLE">YARRAVILLE</option>
<option value="YARRAWONGA">YARRAWONGA</option>
